@model Animals
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

</head>

<body>
@using (Html.BeginForm("SaveAnimalChanges", "Categories", FormMethod.Post))
{
    <span>Animal Name:</span> @Html.TextBoxFor(m => m.Name)<br />
    <span>Animal Age: </span>  <input name="Age" type="number"/><br />
    <span>Animal Price: </span>  <input name="Price" type="number"/><br />
    <span>Animal Discription: </span> @Html.TextBoxFor(m => m.Description)<br />
    <span>Animal URL photo: </span> @Html.TextBoxFor(m => m.PictureName)<br />
    <label style="visibility:collapse">   @Html.TextBoxFor(m => m.ID)</label>
  

    <input id = "Submit" type = "submit" value = "submit" />
}
 

</body>

