@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AnimalWeb.Models.Comments>
@{
    ViewData["Title"] = "GetCommentsForAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

</head>

<body>

    <ul>
        @foreach (var comment in @Model)
        {
            
                string picURL = commentsPicQue.GetRandomUrlForImag();
            <li>
                <img src="@picURL" style="width:50px; border-radius:50%;">
                <span> @comment.CommentDate  @comment.CommentWriterName :   @comment.Comment   </span>
              
            </li>

        }
    </ul>


</body>



