@model Categories
@{
    ViewData["Title"] = "New Category";
}
<head>

</head>
<body>
    <h1>Create category</h1>
    @using (Html.BeginForm("CreateCategory", "Categories", FormMethod.Post))
    {
        <span>Category Name:</span> @Html.TextBoxFor(m => m.Name)
        <br />
        <span >ID: </span> @Html.TextBoxFor(m => m.ID)
        <br />
        <span>URL Picture </span> @Html.TextBoxFor(m => m.CategoryPicture)
        <br />

        <input id="Submit" type="submit" value="submit" />
    }


</body>



