
@model Users

@{
    ViewData["Title"] = "AdminPage";
}
<head>

</head>

<body style="background-color:gray">
    <h1 style="margin-top:50px; margin-left:50%;">Login Info</h1>
    <br />

 
<h1>Html.DisplayFor Example</h1>
 
@using (Html.BeginForm("CheckAdminDetails", "Admin", FormMethod.Post))
{
    <span>Enter Your Email:</span> @Html.TextBoxFor(m => m.Email)<br />
    <span>Enter Your Passward: </span> @Html.TextBoxFor(m => m.Password)<br />
    <span>Enter Your ID: </span> @Html.TextBoxFor(m => m.ID)<br />
 

    <input id = "Submit" type = "submit" value = "submit" />
}
 


</body>


