@{
    ViewData["Title"] = "AdminPage";
}
<head>

</head>

<body style="background-color:gray">
    <h1 style="margin-top:50px; margin-left:50%;">Login Info</h1>
    <br />
    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">

                <script type="text/javascript">

                    const userEmail = document.getElementById(inputEmail3).innerText;
                    const userPassward = document.getElementById(inputPassword3).innerText;

                </script>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
              @*  <a @*href="@Url.Action("checkAdminDetails", "AdminController" ,new { email =ViewData["userEmail"], passward= ViewData["userPassward"] } )">*@
                    <button id="SubmitInfo" class="btn btn-primary" onclick="window.location.href('@Url.Action("checkAdminDetails","Admin" , new{email =ViewData["userEmail"] , passward= ViewData["userPassward"] } )})')">Sign in</button>
             @*   </a>*@
            </div>
        </div>
    </form>



</body>


