@model Users

@{
    ViewData["Title"] = "AdminPage";
}
<head>

</head>

<body style="background-color:gray">
  
    @if (@ViewBag.alart)
    {
        <div style="background-color:palevioletred">
            <h3 >Eror</h3>
            <p>the ditails are not valid</p>
        </div>
    }
    <h1 style="margin-top:50px; margin-left:50%;">LogIn Form</h1>
    <br />

    @using (Html.BeginForm("CheckAdminDetails", "Admin", FormMethod.Post))
    {
        <table class="log-in-form">
            <tr>
                <th>
                    <span>Enter Your Email:</span>
                </th>
                <th>
                     <input name="Email" type="email"  />
                </th>
            </tr>
            <tr>
                <th>
                    <span>Enter Your Password: </span>
                </th>
                <th>
                       <input name="Password" type="password"  />
                </th>
            </tr>
        </table>

        <input id="Submit" type="submit" value="submit" />
    }



</body>


